* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0a1416;
  overflow-x: hidden;
}

header {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #7b6043;
  height: 170px;
  width: 100%;
  padding-bottom: 10px;
}

#header {
  margin-top: 5px;
  width: 780px;
  height: 150px;
}

#filtros {
  display: flex;
  background-color: #303030;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

label {
  font-family: "Balthazar", serif;
  font-size: 20px;
  color: #ffffff;
  margin-left: 25px;
}

[data-testid="select-filter"] {
  font-size: 17px;
  font-family: "Balthazar", serif;
  height: 30px;
  width: 170px;
  margin-left: 5px;
  background-color: #d9d9d9;
}

[data-testid="select-sort"] {
  font-family: "Balthazar", serif;
  font-size: 17px;
  height: 30px;
  width: 170px;
  margin-left: 10px;
  background-color: #d9d9d9;
}

button {
  font-family: "Balthazar", serif;
  font-size: 23px;
  font-weight: bold;
  padding: 6px 35px 6px 35px;
  border-radius: 3px solid #d9d9d9;
  margin-left: 30px;
}

p {
  color: #ffffff;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
}

.lista {
  display: flex;
  font-family: "Cinzel", serif;
  color: #FFFFFF;
  width: 240px;
  height: 400px;
  background-color: #6F6E6E;
  text-align: center;
  justify-content: center;
  background-image: url(https://github.com/DanielaPosadas/DEV012-dataverse/blob/main/tarjetas%20MK-1.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.lista:hover {
  background: #000000;
  opacity: 80%;
}

img {
  margin-top: 10px;
  padding-top: 15px;
  height: 280px;
  width: 200px;
  justify-content: center;
}

dt {
  margin: 0;
  margin-top: 5px;
  font-size: 10px;
}

dd {
  margin: 0;
}

[itemprop="name"] {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-bottom: 5px;
}

[itemprop="letality"] {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 8px;
  margin-top: 3px;
}

[itemprop="kingdom"] {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin-top: 2px;
}

#divBtnGrupalResponsive {
  position: fixed;
  display: flex;
  right: 69px;
  bottom: 30px;
  width: 230px;
  height: 100px;
}

#imagebtnGrupalResponsive {
  display: none;
}

#parrafoGrupalResponsive {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  right: 43px;
  bottom: 25px;
  font-weight: bold;
}

#btnChatGrupal {
  justify-content: flex-end;
  width: 230px;
  height: 50px;
  background: #FFA400;
  border-radius: 9px;
  bottom: 30px;
  cursor: pointer;
}

footer {
  display: flex;
  background-color: #7b6043;
  color: #ffffff;
  font-family: "Cinzel", serif;
  font-size: 12px;
  padding: 10px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  height: 100%;
  bottom: 0;
  width: 100%;
}

#divBtnConfigApikey {
  display: flex;
  align-items: center;
}

#imageConfigApikey {
  position: fixed;
  display: flex;
  width: 45px;
  height: 60px;
  bottom: 53px;
  left: 85px;
  cursor: pointer;
}

#btnConfigApikey {
  position: fixed;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #FFA400;
  bottom: 30px;
  left: 40px;
  cursor: pointer;
}







 /*VISTA NOT FOUND
.ruta-error {
  background-color: #0a1416;
}

#viewError {
  display: flex;
  margin-top: 150px;
}

#logoError {
  position: relative;
  display: flex;
  width: 300px;
  height: 300px;
  margin-left: 400px;
  margin-top: 40px;
}

#UPS {
  display: flex;
  color: #ffffff;
  font-size: 110px;
  font-weight: bold;
}

#ERROR {
  position: absolute;
  display: flex;
  font-family: 'Inter', sans-serif;
  margin-left: 705px;
  margin-top: 160px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}

#DescripError {
  position: absolute;
  display: flex;
  font-family: 'Inter', sans-serif;
  margin-left: 705px;
  margin-top: 230px;
  color: #ffffff;
  font-size: 15px;
}

#BtnVolver {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-left: 706px;
  margin-top: 310px;
  color: #000000;
  background-color: #FFA400;
  border-radius: 9px;
  padding: 8px 40px 8px 40px;
  font-size: 15px;

}




/*LISTA DE CONECTADOS
#divUsuariosConectados {
  display: flex;
  display: grid;
  overflow: auto;
  border-color: #FFFFFF;
  width: 250px;
  height: 395px;
  background-color: #D9D9D9;
  margin-top: -50px;
  margin-left: 70px;
}

#imagenConectados {
  margin-left: 20px;
  width: 50px;
  height: 65px;
  border-radius: 75px 50px 60px 60px;
}

#divEstadoOnline {
  position: relative;
  margin-top: -50px;
  display: flex;
  justify-content: left;
  margin-left: 95px;

}

#parrafoNombrePersonaje {
  position: absolute;
  display: flex;
  color: #000000;
  font-family: "Cinzel", serif;
  margin-top: 10px;
  font-weight: bold;

}

#parrafoOnline {
  position: absolute;
  display: flex;
  color: #000000;
  font-family: 'Inter', sans-serif;
  margin-top: 30px;
  font-size: 13px;

}

#divPuntoVerde {

  background-color: rgb(3, 192, 3);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-top: -25px;
  margin-left: 78px;
}

#divNumeroUsuarios {
  display: flex;
  width: 250px;
  height: 50px;
  background-color: #FFA400;
  margin-top: -445px;
  margin-left: 70px;
  align-items: center;
  justify-content: center;
}

#parrafoNumeroUsuarios {
  color: #000000;
  font-weight: bold;
}

#divBtnHome {
position: fixed;
bottom: 30px;
width: 75px;
height: 75px;
left: 30px;
z-index: 1;
}

#imageHome {
  position: fixed;
  width: 45px;
  height: 50px;
  right: 135px;
  bottom: 65px;
  cursor: pointer;
}

#btnHome {
  position: fixed;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background: #FFA400;
  right: 120px;
  bottom: 45px;
  cursor: pointer;
}

/*VISTA DE API KEY

#divApikeySecundario{
  position: relative;
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  width: 100%
}

#divApikey #filtros {
  display: none; 
}

#divApikey nav {
  display: none;
}

#imgFondoApikey {
  position: absolute;
  display: flex;
  margin-top: 60px;
  width: 800px;
  height: 400px;
}

#divInput {
  position: absolute;
  display: grid;
  width: 350px;
  margin-top: 50px;
}

#inputApikey {
  display: flex;
  width: 350px;
  height: 40px;
}

#divBotones {
  display: flex;
  margin-top: 15px;
  width: 100px;
}

#btnApikeyEnviar {
  display: flex;
  justify-content: center;
  width: 120px;
  background-color: #FFA400;
  border-radius: 9px;
}

#btnApikeyLimpiar {
  display: flex;
  justify-content: center;
  width: 120px;
  background-color: #FFA400;
  border-radius: 9px;
}

#parrafoApikey {

  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

#divBtnConfigApikey {
  display: flex;
  align-items: center;
}

#imageConfigApikey {
  position: fixed;
  display: flex;
  width: 45px;
  height: 60px;
  bottom: 53px;
  left: 85px;
  cursor: pointer;
}

#btnConfigApikey {
  position: fixed;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #FFA400;
  bottom: 30px;
  left: 40px;
  cursor: pointer;
}

#parrafo {
  color: #000000;
}
*/

@media (min-width: 890px) and (max-width: 3000px) {
  #header2 {
    display: none;
  }

  #inputHamburguesa {
    display: none;
  }

  #checkHamburger {
    display: none;
  }

  #divBtnGrupalResponsive {
    position: relative;
    position: fixed;
    display: flex;
    right: 69px;
    bottom: 15px;
    width: 230px;
    height: 100px;
  }
  
  #parrafoGrupalResponsive {
    position: absolute;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    right: 43px;
    bottom: 25px;
    font-weight: bold;
  }
  
  #btnChatGrupal {
    position: absolute;
    justify-content: flex-end;
    width: 230px;
    height: 50px;
    background: #FFA400;
    border-radius: 9px;
    bottom: 30px;
    right: 2px;
    cursor: pointer;
  }

  #divBtnConfigApikey{
    display: flex;
    position: relative;
    margin-left: -8px;
    width: 100px;
    height: 100px;
    bottom: 9px;
    position: fixed;
  }

  #btnConfigApikey{
    display: flex;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    left: 50px;
    width: 65px;
    height: 65px;
    padding: 0%;
  }
  #imageConfigApikey{
    display: flex;
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
    margin-left: 2px;
    bottom: 40px;
    width: 50px;
    height: 62px;
  }
}

/* RESPONSIVE DESIGN CON MEDIA QUERY*/
@media (min-width: 280px) and (max-width: 889px) {
  #header2 {
    height: 150px;
    width: 135px;
    margin-top: 0;
  }

  nav {
    position: relative;
    display: flex;
    background-color: #303030;
    padding-top: 25px;
    height: 80px;
    justify-content: center;

  }

  #inputHamburguesa {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0%;

  }

  #checkHamburger {
    position: absolute;
    color: #FFFFFF;
    font-size: 30px;

  }

  #header {
    display: none;
    align-items: center;
    margin-top: 20px;
    width: 630px;
    height: 130px;
  }

  #filtros {
    display: grid;
    background-color: #303030;
    padding-top: 40px;
    padding-left: 25px;
    height: 350px;
    width: 230px;
  }

  label {
    display: flex;
    font-family: "Balthazar", serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
  }

  button {
    display: flex;
    font-family: "Balthazar", serif;
    font-size: 23px;
    font-weight: bold;
    padding: 6px 35px 6px 35px;
    border-radius: 3px solid #D9D9D9;
    margin-top: 25px;
    margin-left: 23px;
  }

  .lista {
    display: flex;
    font-family: "Cinzel", serif;
    color: #FFFFFF;
    width: 280px;
    height: 480px;
    background-image: url(https://github.com/DanielaPosadas/DEV012-dataverse/blob/main/tarjetas%20MK-1.jpg?raw=true);
  }

  img {
    margin-top: 10px;
    padding-top: 20px;
    height: 280px;
    width: 200px;
    justify-content: center;
  }

  footer {
    margin-top: 30px;
    text-align: center;
  }

  #filtros {
    display: none;
  }

  #inputHamburguesa:checked~#filtros {
    display: block;
  }

  #inputHamburguesa:checked~#checkHamburger {
    display: none;
  }

  #conteo-personajes_genero {
    display: none;
  }

  #divBtnGrupalResponsive {
    display: flex;
    margin-right: -41px;
    width: 70px;
    height: 100px;
    bottom: -10px;
  }

  #btnChatGrupal {
    display: flex;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    right: 4px;
    width: 65px;
    height: 65px;
    padding: 0%;
  }

  #parrafoGrupalResponsive {
    display: none;
  }

  #imagebtnGrupalResponsive {
    display: flex;
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
    margin-left: 9px;
    bottom: 43px;
    width: 50px;
    height: 62px;
  }
  #divBtnConfigApikey{
    display: flex;
    margin-left: -41px;
    width: 100px;
    height: 100px;
    bottom: -10px;
    position: fixed;
  }
  #btnConfigApikey{
    display: flex;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    left: 50px;
    width: 65px;
    height: 65px;
    padding: 0%;
  }
  #imageConfigApikey{
    display: flex;
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
    margin-left: -4px;
    bottom: 42px;
    width: 50px;
    height: 62px;
  }

  

}